<h4>Please complete the following information in your profile:</h4>



<%= form_for(@b_good_user) do |f| %>


  <div class="field">
    <%= f.label :name %>
    <%= f.text_field :name %>
  </div>

  <!-- <div class="field">
    <%# f.hidden_field :email, :value => session[:userinfo]['info']['email'] %>
  </div>

  <div class="field">
    <%# f.hidden_field :auth0_id, :value => session[:userinfo]['uid'] %>
  </div> -->

  <div class="actions">
    <%= f.submit %>
  </div>

<% end %>
