<h1>BGood</h1>

<h3>Miami's fun way volunteer</h3>

<script src="https://cdn.auth0.com/js/lock-passwordless-2.2.min.js"></script>
<script>
  var lock = new Auth0LockPasswordless('kvIwUnB3uIBQb6KGBpHo1orxfjhrK99J', 'bgood.auth0.com');
  function open() {
    lock.emailcode({
      callbackURL: 'http://localhost:3000/auth/oauth2/callback',
      authParams: {
        scope: 'openid email'  // Learn about scopes: https://auth0.com/docs/scopes
      }
    });
  }
</script>
<button onclick="window.open();">Email Code</button>
