<h1>BGood</h1>

<h3>Miami's fun way to volunteer</h3>

<script src="https://cdn.auth0.com/js/lock-passwordless-2.2.min.js"></script>
<script>
  var lock = new Auth0LockPasswordless('<%= ENV['auth0_bgood_key'] %>', '<%= ENV['auth0_domain'] %>']);
  function open() {
    lock.emailcode({
      callbackURL: 'http://localhost:3000/auth/oauth2/callback',
      authParams: {
        scope: 'openid email'  // Learn about scopes: https://auth0.com/docs/scopes
      }
    });
  }
</script>

<a class="waves-effect waves-light btn-large cyan lighten-2"><i class="material-icons right">textsms</i><button onclick="window.open();">Sign up!</button></a>
