<%= form_tag searches_index_path do %>
  <%= search_field_tag :term %>
  <%= submit_tag "Go!" %>
<% end %>

<ul class="collection">
  <% @data_selection.each do |opportunities| %>
    <li class="collection-item avatar">
      <span class="title">Opportunity</span>
      <% @opportunities_keys.zip(opportunities).each do |key, opportunity| %>
        <% unless opportunity.empty? %>
          <% key = @hidden_keys.include?(key) ? '' : [key, ':'].join %>
          <p><%= raw("#{key} #{opportunity}") %> <br></p>
        <% end %>
        <a class="waves-effect waves-light btn secondary-content" href="#modal1"><i class="material-icons">grade</i></a>

      <% end %>
    </li>
  <% end %>
</ul>
<% if session[:page_number] == 1 %>
  <a href="http://localhost:3000/searches/index?page=2">next</a>
<% end %>



<!-- Modal Structure -->
<div id="modal1" class="modal">
  <div class="modal-content">
    <h4>Modal Header</h4>
    <p>A bunch of text</p>
  </div>
  <div class="modal-footer">
    <a href="#!" class=" modal-action modal-close waves-effect waves-green btn-flat">Agree</a>
  </div>
</div>
