<%= form_tag searches_index_path do %>
  <%= search_field_tag :term %>
  <%= submit_tag "Go!" %>
<% end %>

<ul class="collection">
  <% @data_selection.each do |opportunities| %>
    <li class="collection-item avatar">
      <span class="title">Opportunity</span>
      <% @opportunities_keys.zip(opportunities).each do |key, opportunity| %>
        <% unless opportunity.empty? %>
          <% key = @hidden_keys.include?(key) ? '' : [key, ':'].join %>
          <p><%= raw("#{key} #{opportunity}") %> <br></p>
        <% end %>
        <a href="#!" class="secondary-content"><i class="material-icons">grade</i></a>
      <% end %>
    </li>
  <% end %>
</ul>
<% if session[:page_number] == 1 %>
  <a href="http://localhost:3000/searches/index?page=2">next</a>
<% end %>
