


<%= form_tag searches_index_path do %>
 <%= search_field_tag :term %>
 <%= submit_tag "Go!" %>
<% end %>
<% @data_selection.each do |opportunities| %>
  <% @opportunities_keys.zip(opportunities).each do |key, opportunity| %>
    <ul>
      <li><%= "#{key}: #{opportunity}" %></li>
    </ul>
  <% end %>
<% end %>
