
/*.challenges_video_container {*/
/*  making the video fullscreen  */
  /*position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: -100;
  opacity: 0.8;
}*/


#challenges_text p {
  font-size: 20px;

}

.top_of_challenges {
  display: flex;
  justify-content: center;
  margin-top: 350px;
}

#challenges_text {
  flex-grow: 1;
  width: 50%;
  margin-left: 10%;
  color: black;
}

#challenges_text h3 {
  color: white;
}

.social_buttons {
  display: flex;
  width: 50%;
  justify-content: center;
}

.fb-share-button, .twitter-share-button {
  transform: scale(2.5);
  margin: 50px 70px;
}

.twitter-share-button {
  margin-bottom: -5px;
}

.challenges_page_photo_credit {
  text-align: center;
  width: 100%;
  color: grey;
}

.challenges_page_photo_credit a {
  color: grey;
}

/*Video*/
.homepage-hero-module {
    border-right: none;
    border-left: none;
    position: relative;
}
.no-video .video-container video,
.touch .video-container video {
    display: none;
}
.no-video .video-container .poster,
.touch .video-container .poster {
    display: block !important;
}
.video-container {
    position: relative;
    bottom: 0%;
    left: 0%;
    height: 100%;
    width: 100%;
    overflow: hidden;
    background: #000;
}
.video-container .poster img {
    width: 100%;
    bottom: 0;
    position: absolute;
}
.video-container .filter {
    z-index: 100;
    position: absolute;
    background: rgba(0, 0, 0, 0.4);
    width: 100%;
}
.video-container video {
    position: absolute;
    z-index: 0;
    bottom: 0;
}
.video-container video.fillWidth {
    width: 100%;
}
