
/*About us page*/
#pictures_banner {
  display: flex;
  flex-direction: row;
}
.about_us_logo {
  width: 20%;
  height: 30vh;
  margin: 0;
  padding: none;
}

.top_of_about_us {
  margin: 0;
  overflow: hidden;
  width: 100%;
  height: auto;
  display: flex;
}

#about_us_outer_container h1 {
  margin-top: 30px;
}

#about_us_outer_container {
  background: linear-gradient(#e0f7fa, #00bcd4);
  margin: none;
  text-align: center;
  padding-top: 10px;
}

#about_us_container {
  padding: 10px 50px;
  text-align: center;
}

#about_us_container p {
  font-size: 15px;
}

.logo_buttons ul{
  display: inline-flex;
  justify-content: center;
}

.logo_buttons li {
  width: 20%;

}

.logo_buttons img {
  width: 100%;
}

ul#photocredits li {
  display: inline;
}

#photocredits a {
  color: black;
}


.bio_pictures {
  width: 50%;
  height: auto;
}

.hidden{
  display:none
}


#wyncode_logo_and_info {
  margin-top:100px;
}

#wyncode_logo_and_info a {
  text-decoration: none;
  color: black;
}

#wyncode_logo_and_info a:hover {
  color: blue;
}

/*profile page*/

.profile_layout_and_challenge {
  display: flex;

}
#challenge_button {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.link_to_challenge_button{
  margin-top: 20%;
  font-size: 30px;
}

/*nav bar*/
ul.right.hide-on-med-and-down {
  height: 0;
}
