
/*About us page*/
#pictures_banner {
  display: flex;
  flex-direction: row;
}
.about_us_logo {
  width: 20%;
  height: 30vh;
  margin: 0;
  padding: none;
}

.top_of_about_us {
  margin: 0;
  overflow: hidden;
  width: 100%;
  height: auto;
  display: flex;
}

#about_us_outer_container h1 {
  margin-top: 30px;
}


#about_us_outer_container {
  background: linear-gradient(#e0f7fa, #00bcd4);
  margin: none;
  text-align: center;
  padding-top: 10px;
}

#about_us_container {
  display: inline-flex;
  padding: 10px 50px;
  text-align: center;
}

.git_hub_logo {
  width: 25%;
}

.twitter_logo {
  width: 10%;
}

ul#photocredits li {
  display: inline;
}



.bio_pictures {
  width: 50%;
  height: auto;
}

ul.right.hide-on-med-and-down {
  height: 0;
}

#wyncode_logo_and_info {
  display: flex;
  justify-content: center;
  color: white;
  padding: 50px 0;
}

#wyncode_logo {
  width: 40%;
}

#photo_credits a:link,
#photo_credits a:link {
  color: black;
}


.dashboard_video_container {
/*  making the video fullscreen  */
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: -100;
  opacity: 0.3;
}

/*profile page*/


.profile_layout_and_challenge {
  display: flex;

}
#challenge_button {
  display: flex;
  justify-content: center;
}

#link_to_challenge_button{
  margin-top: 20%;
  font-size: 30px;
}
