.volunteer_video {
  width: 100%;
  height: auto;
}

#landing_page_body h1 {
  font-size: 75px;
}

.container.landing-top p {
  font-size: 25px;
}

#auth0_login {
  margin-top: 200px;
  justify-content: center;
}

.landing_page_quote {
  font-size: 30px;
}

a#login_button.waves-effect.waves-light.btn-large.cyan.lighten-2 {
  padding: 50px 70px 100px 70px;
  text-align: center;
  font-size: 35px;
}

.landing-top {
  height: 150px;
}

#bgood_logo img{
  width: 100%;
  height: auto;
}

#auth0_login {
  text-align: center;
  padding-top: 30px;
}


nav ul a,
nav .brand-logo {
  color: #444;
}

p {
  line-height: 2rem;
}

.button-collapse {
  color: #26a69a;
}

.parallax-container {
  min-height: 700px;
  line-height: 0;
  height: auto;
  color: rgba(255,255,255,.9);
}
  .parallax-container .section {
    width: 100%;
  }

@media only screen and (max-width : 992px) {
  .parallax-container .section {
    position: absolute;
    top: 40%;
  }
  #index-banner .section {
    top: 10%;
  }
}

@media only screen and (max-width : 600px) {
  #index-banner .section {
    top: 0;
  }
}

.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
  font-size: inherit;
}

footer.page-footer {
  margin: 0;
}
